@import "variable_overrides.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
    font-family: 'Parisienne';
}

h3 {
    font-family: 'Parisienne';
    font-size: 2rem;
}

.navbar-brand {
    font-family: 'Parisienne';
    font-size: 2.5rem;
}

.nav a {
    font-size: 2rem;
}

footer {
    font-family: 'Arial';
    font-size: 0.3rem;
}


