@import "variable_overrides.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
    font-family: 'Parisienne';
    font-size: 3.5rem;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h3 {
    font-family: 'Parisienne';
    font-size: 2rem;
}

.navbar-brand {
    font-family: 'Parisienne';
    font-size: 2.5rem;
}

#navOrinoco {
    font-family: 'Parisienne';
    font-size: 2.5rem;
}

.nav a {
    font-size: 2rem;
}


article img {
    &:hover {
        transform: scale(1.04);
        transition: transform 600ms;
        border: solid 2px #CCC;
    }
}

p {
    font-weight: 500;
}

#productsButton {
    border-radius: 50%;
    width: 50%;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.3rem;
}

.subtotal {
    font-size: 1.5rem;
}

.cart-total {
    font-size: 2.7rem;
}

.form {
    display: flex;
    justify-content: flex-end;
}

//JS

