@import "variable_overrides.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
    font-family: 'Parisienne';
}

.navbar {
    font-family: 'Parisienne';
}

.navbar-nav {
    font-size: 1.7rem;
}


