@import "variable_overrides.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

h1 {
  font-family: 'Parisienne';
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-family: 'Parisienne';
}

.navbar-brand {
  font-family: 'Parisienne';
}

#navOrinoco {
	font-family: 'Parisienne';
	font-size: 2.5rem;
}

#browse {
  font-weight: 375;
}

#productsButton {
  border-radius: 50%;
}

.card {
	display: inline-block;
	width: 24%;
	&:hover {
			transform: scale(1.04);
			transition: transform 600ms;
			border: solid 2px #CCC;
			background-color: #f3f6f4;
	}
}

#cameraToggle a {
	text-decoration: none;
	color: black;
}

p {
  font-weight: 500;
}

i {
  font-weight: 450;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5rem;
}


@media all and (max-width: 1024px) {
  .card {
    display: block;
    width: 75%; } }

@media all and (max-width: 1024px) {
  #image {
    display: block;
    width: 75%; 
	}
  #descriptionHtml {
    display: block;
    width: 75%; 
	}
  #addToCart {
    display: block;
    width: 75%; 
	}
  #lensOption {
    display: block;
    width: 175%; 
	} 
}